*{margin: 0;
padding: 0;
list-style: none;}
.header{
	/*width:100%;height: 30%; */
background: url(../img/10.jpg);}
.header ul{display: flex;flex-direction: row;justify-content: space-around;color: olivedrab;}

ul img{width: 150px;
height: 150px;}
.container ul{display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;}

.container ul li{display: flex;
flex-direction: column;padding: 2px;}
.container ul p{font-size: small;}
.price{color: red;}

.footer ul{display: flex;flex-direction: row;justify-content: space-around;}
